<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Architectural Intelligence{% endblock %}</title>
        {% block head %}
        <!-- Additional head elements can be added here -->
        {% endblock %}
    </head>
    <body>
        <h2>Content does here</h2>
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </body>
</html>